function Enviro.new 0
push constant 1
call Memory.alloc 1
pop pointer 0
push constant 0
push constant 0
call Man.new 2
pop this 0
push pointer 0
return
function Enviro.dispose 0
push argument 0
pop pointer 0
push this 0
call Man.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Enviro.run 4
push argument 0
pop pointer 0
push constant 0
pop local 1
push constant 0
pop local 2
push constant 4
pop local 3
label WHILE_EXP0
push local 1
not
not
if-goto WHILE_END0
call Keyboard.keyPressed 0
pop local 0
push local 0
push constant 81
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
pop local 1
label IF_FALSE0
push local 0
push constant 130
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 0
push constant 1
neg
push constant 0
call Man.move 3
pop temp 0
label IF_FALSE1
push local 0
push constant 131
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 0
push constant 0
push constant 1
neg
call Man.move 3
pop temp 0
label IF_FALSE2
push local 0
push constant 132
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 0
push constant 1
push constant 0
call Man.move 3
pop temp 0
label IF_FALSE3
push local 0
push constant 133
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push this 0
push constant 0
push constant 1
call Man.move 3
pop temp 0
label IF_FALSE4
push local 2
push constant 2
gt
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push this 0
push constant 0
push constant 1
call Man.move 3
pop temp 0
push constant 0
pop local 2
goto IF_END5
label IF_FALSE5
push local 2
push constant 1
add
pop local 2
label IF_END5
push local 3
call Sys.wait 1
pop temp 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Enviro.gameOver 2
push argument 0
pop pointer 0
push constant 250
pop local 1
call Screen.clearScreen 0
pop temp 0
push constant 8
push constant 23
call Output.moveCursor 2
pop temp 0
push constant 18
call String.new 1
push constant 126
call String.appendChar 2
push constant 126
call String.appendChar 2
push constant 126
call String.appendChar 2
push constant 126
call String.appendChar 2
push constant 126
call String.appendChar 2
push constant 126
call String.appendChar 2
push constant 126
call String.appendChar 2
push constant 126
call String.appendChar 2
push constant 126
call String.appendChar 2
push constant 126
call String.appendChar 2
push constant 126
call String.appendChar 2
push constant 126
call String.appendChar 2
push constant 126
call String.appendChar 2
push constant 126
call String.appendChar 2
push constant 126
call String.appendChar 2
push constant 126
call String.appendChar 2
push constant 126
call String.appendChar 2
push constant 126
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 9
push constant 23
call Output.moveCursor 2
pop temp 0
push constant 18
call String.new 1
push constant 126
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 126
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 10
push constant 23
call Output.moveCursor 2
pop temp 0
push constant 18
call String.new 1
push constant 126
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 126
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 11
push constant 23
call Output.moveCursor 2
pop temp 0
push constant 18
call String.new 1
push constant 126
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 126
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 12
push constant 23
call Output.moveCursor 2
pop temp 0
push constant 18
call String.new 1
push constant 126
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 126
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 13
push constant 23
call Output.moveCursor 2
pop temp 0
push constant 18
call String.new 1
push constant 126
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 126
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 14
push constant 23
call Output.moveCursor 2
pop temp 0
push constant 18
call String.new 1
push constant 126
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 126
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 15
push constant 23
call Output.moveCursor 2
pop temp 0
push constant 18
call String.new 1
push constant 126
call String.appendChar 2
push constant 126
call String.appendChar 2
push constant 126
call String.appendChar 2
push constant 126
call String.appendChar 2
push constant 126
call String.appendChar 2
push constant 126
call String.appendChar 2
push constant 126
call String.appendChar 2
push constant 126
call String.appendChar 2
push constant 126
call String.appendChar 2
push constant 126
call String.appendChar 2
push constant 126
call String.appendChar 2
push constant 126
call String.appendChar 2
push constant 126
call String.appendChar 2
push constant 126
call String.appendChar 2
push constant 126
call String.appendChar 2
push constant 126
call String.appendChar 2
push constant 126
call String.appendChar 2
push constant 126
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 9
push constant 27
call Output.moveCursor 2
pop temp 0
push constant 10
call String.new 1
push constant 71
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 77
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 86
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 82
call String.appendChar 2
call Output.printString 1
pop temp 0
label WHILE_EXP0
push constant 0
not
not
if-goto WHILE_END0
push constant 29
pop local 0
label WHILE_EXP1
push local 0
push constant 35
lt
not
if-goto WHILE_END1
push constant 12
push local 0
call Output.moveCursor 2
pop temp 0
push constant 45
call Output.printChar 1
pop temp 0
push local 1
call Sys.wait 1
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP1
label WHILE_END1
push constant 29
pop local 0
label WHILE_EXP2
push local 0
push constant 35
lt
not
if-goto WHILE_END2
push constant 12
push local 0
call Output.moveCursor 2
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push local 1
call Sys.wait 1
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP2
label WHILE_END2
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
